<!DOCTYPE html>
<html lang="en">

<head>
  <meta htt charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>20183767</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <header>
    <h1>Chatroom for Distributed Systems class</h1>
  </header>

  <section>
    <div id="change_username">
      <input type="text" id="username" />
      <button id="send_username" type="button">Change username</button>
    </div>
  </section>

  <section id="chatroom">
    <section id="feedback"></section>
  </section>

  <section id="input_zone">
    <input type="text" name="" id="message" class="vertical-align">
    <button id="send_message" class="vertical_align" type="button">Send</button>
  </section>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="scripts/chat.js"></script>
</body>

</html>